# API
PORT=8100

# Postgres
PG_USER=root
PG_PASSWORD=1234
PG_DSN=postgres://root:1234@localhost:5432/local?sslmode=disable

# crawler
HABR_BASE_URL=https://habr.com
HABR_INDEX_PATH=/ru/all/
CRAWLER_USER_AGENT=habr-crawler-go/1.0
CRAWLER_MAX_CONCURRENCY=8
CRAWLER_PER_HOST_QPS=2
CRAWLER_TIMEOUT_SECONDS=15
CRAWLER_TIMEZONE=Europe/Amsterdam
